.meeting-container {
    padding: 20px;
    width: 80%;
    margin: auto;
  }

  .disabled-option {
      background-color: #ccc;
      color: #777;
  }

.meeting-ul{
  list-style-type: none;
  padding: 10px;
}
.meeting-li {
  border: 2px solid #838080;
  padding: 10px;
}