
.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
.form_profile{
  border: 1px solid #ced4da; /* Border color */
  border-radius: 0.25rem; /* Border radius */
  padding: 1rem; /* Padding */
}
  .container-md{
  
    margin: 50px auto;
    
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top:5%;
    background-color: #fff;
  }

  